	
	/*
		PageContainer
	*/
	
	.pageContainer
	{
		display:inline-block;
	}
	
	.pageContainer .header
	{
		text-align:center;
		width:755px;
	}
	
	.pageContainer .body
	{
		
	}
	
	.pageContainer .footer
	{
		width:755px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	