
	/*
		Quest Giver
	*/
	
	.component.bugcraft .questGiver
	{
		background-image:url('/img/backgroundScroll.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:656px;
		#width:689px;
		height:678px;
		display:block;
		margin-top:120px;
		padding-left:33px;
		text-align:left;
		position:absolute;
		-moz-transform-origin: top left;
		-webkit-transform-origin: top left;
		-o-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		margin-left:110px;
	}
	
	.component.bugcraft .questGiver .closeButton
	{
		background-image:url('/img/questGiver/close.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:16px;
		height:16px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		margin-left:595px;
		margin-top:64px;
	}
	
	.component.bugcraft .questGiver .closeButton:hover
	{
		background-position:left bottom;
	}
	
	.component.bugcraft .questGiver .questsListContainer
	{
		background-image:url('/img/questGiver/top_shadows_dirt.png'), url('/img/questGiver/bg_queue_artwork.png');
		background-repeat:no-repeat;
		background-position:left top, left top;
		height:161px;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListItemsContainer
	{
		display:inline-block;
		#display:inline;
		width:560px;
		height:161px;
		overflow:hidden;
		vertical-align:top;
		position:relative;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListItemsContainer .questListItems
	{
		vertical-align:top;
		position:absolute;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListItemsContainer .questListItems .questListItem
	{
		margin-left:20px;
		font-family:Georgia;
		font-size:14px;
		padding-top:10px;
		padding-bottom:10px;
		color:#52331e;
		padding-left:15px;
		padding-right:15px;
		margin-top:5px;
		margin-bottom:5px;
		width:480px;
		letter-spacing:1px;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListItemsContainer .questListItems .questListItem:hover
	{
		background-color:#afafaf;
		color:#bf1208;
		opacity:0.5;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		-moz-border-radius: 15px;
		border-radius: 15px;
		letter-spacing:1px;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListItemsContainer .questListItems .questListItemSelected
	{
		background-color:#9f9f9f;
		margin-left:20px;
		font-family:Georgia;
		font-size:14px;
		padding-top:10px;
		padding-bottom:10px;
		color:#bf1208;
		padding-left:15px;
		padding-right:15px;
		margin-top:5px;
		margin-bottom:5px;
		width:480px;
		opacity:0.5;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		-moz-border-radius: 15px;
		border-radius: 15px;
		letter-spacing:1px;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListControls
	{
		display:inline-block;
		#display:inline;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListControls .questsListControlUp
	{
		margin-top:10px;
		background-image:url('/img/questGiver/top_arrow.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:15px;
		height:19px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
	}
	
	.component.bugcraft .questGiver .questsListContainer .questsListControls .questsListControlDown
	{
		margin-top:105px;
		background-image:url('/img/questGiver/bot_arrow.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:15px;
		height:19px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
	}
	
	.component.bugcraft .questGiver .questInformation
	{
		background-image:url('/img/questGiver/bot_shadows_dirt.png');
		background-repeat:no-repeat;
		background-position:left bottom;
		width:592px;
		#width:617px;
		height:230px;
		text-align:left;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:25px;
	}
	
	.component.bugcraft .questGiver .questInformation .questData
	{
		display:inline-block;
		#display:inline;
		width:330px;
		height:169px;
		vertical-align:top;
		overflow:hidden;
		position:absolute;
	}
	
	.component.bugcraft .questGiver .questInformation .questData .Scroller-Container
	{
		position:absolute;
	}
	
	.component.bugcraft .questGiver .questInformation .questData .questName
	{
		font-family:Georgia;
		font-size:18px;
		color:#52331e;
	}
	
	.component.bugcraft .questGiver .questInformation .questData .questObjectivesTitle
	{
		margin-top:10px;
		font-family:Georgia;
		font-size:18px;
		color:#52331e;
	}
	
	.component.bugcraft .questGiver .questInformation .questData .questDescription, .component.bugcraft .questGiver .questInformation .questData .questObjectives
	{
		margin-top:5px;
		font-family:Georgia;
		font-size:12px;
		color:#52331e;
		line-height:20px;
	}
	
	.component.bugcraft .questGiver .questInformation .questsListControls
	{
		margin-left:330px;
		width:10px;
		display:inline-block;
		#display:inline;
	}
	
	.component.bugcraft .questGiver .questInformation .questsListControls .Scrollbar-Up
	{
		margin-top:10px;
		background-image:url('/img/questGiver/top_arrow.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:15px;
		height:19px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
	}
	
	.component.bugcraft .questGiver .questInformation .questsListControls .Scrollbar-Track
	{
		position:absolute;
		width:15px;
		height:119px;
	}
	
	.component.bugcraft .questGiver .questInformation .questsListControls .Scrollbar-Track .Scrollbar-Handle
	{
		position:absolute;
		width:12px;
		height:12px;
		border:1px dotted #52331e;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}
	
	.component.bugcraft .questGiver .questInformation .questsListControls .Scrollbar-Down
	{
		margin-top:119px;
		background-image:url('/img/questGiver/bot_arrow.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:15px;
		height:19px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
	}
	
	
	.component.bugcraft .questGiver .questInformation .questSpoils
	{
		margin-left:10px;
		display:inline-block;
		#display:inline;
		vertical-align:top;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questResources
	{
		display:inline-block;
		#display:inline;
		width:112px;
		border-right:1px solid #f1d291;
		vertical-align:top;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questResources .spoilTitle
	{
		font-family:Georgia;
		font-size:16px;
		width:112px;
		text-align:center;
		padding-bottom:10px;
		color:#52331e;
		border-bottom:1px solid #f1d291;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questResources .spoilDetail
	{
		background-image:url('/img/questGiver/win_bg.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:112px;
		height:88px;
		#height:98px;
		padding-top:10px;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questResources .spoilDetail .spoilAmber
	{
		background-image:url('/img/questGiver/amber.png');
		background-repeat:no-repeat;
		background-position:60px 0px;
		height:33px;
		#height:40px;
		font-size:16px;
		color:#52331e;
		padding-top:7px;
		padding-right:58px;
		text-align:right;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questResources .spoilDetail .spoilPolen
	{
		background-image:url('/img/questGiver/polenwithbag.png');
		background-repeat:no-repeat;
		background-position:60px 0px;
		height:33px;
		#height:40px;
		font-size:16px;
		color:#52331e;
		padding-top:7px;
		padding-right:58px;
		text-align:right;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questCharacter
	{
		display:inline-block;
		#display:inline;
		width:112px;
		vertical-align:top;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questCharacter .spoilTitle
	{
		font-family:Georgia;
		font-size:16px;
		width:112px;
		text-align:center;
		padding-bottom:10px;
		color:#52331e;
		border-bottom:1px solid #f1d291;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questCharacter .spoilDetail
	{
		background-image:url('/img/questGiver/loss_bg.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:112px;
		height:88px;
		#height:98px;
		padding-top:10px;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questCharacter .spoilDetail .spoilXP
	{
		background-image:url('/img/questGiver/xp_icon_notitle.png');
		background-repeat:no-repeat;
		background-position:57px -3px;
		height:33px;
		#height:40px;
		font-size:16px;
		color:#52331e;
		padding-top:7px;
		padding-right:58px;
		text-align:right;
	}
	
	.component.bugcraft .questGiver .questInformation .questSpoils .questCharacter .spoilDetail .spoilGlory
	{
		background-image:url('/img/questGiver/glory.png');
		background-repeat:no-repeat;
		background-position:60px 0px;
		height:33px;
		#height:40px;
		font-size:16px;
		color:#52331e;
		padding-top:7px;
		padding-right:58px;
		text-align:right;
	}
	
	.component.bugcraft .questGiver .questOptions
	{
		margin-top:-45px;
		text-align:left;
	}
	
	.component.bugcraft .questGiver .questOptions .questAccept
	{
		margin-left:160px;
		display:inline-block;
		#display:inline;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		width:149px;
		height:23px;
		#height:30px;
		background-image: url('/img/questGiver/btn.png');
		background-repeat: no-repeat;
		background-position: left top;
		text-align:center;
		padding-top:7px;
		font-size:14px;
		color:#dfdfdf;
	}
	
	.component.bugcraft .questGiver .questOptions .questAccept:hover
	{
		color:#ffffff;
	}
	
	.component.bugcraft .questGiver .questOptions .questDecline
	{
		margin-left:15px;
		display:inline-block;
		#display:inline;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		width:149px;
		height:23px;
		#height:30px;
		background-image: url('/img/questGiver/btn.png');
		background-repeat: no-repeat;
		background-position: left bottom;
		text-align:center;
		padding-top:7px;
		font-size:14px;
		color:#dfdfdf;
	}
	
	.component.bugcraft .questGiver .questOptions .questDecline:hover
	{
		color:#ffffff;
		background-position: left top;
	}
	
	.component.bugcraft .questGiver .questOptions .questFinalize
	{
		margin-left:238px;
		display:inline-block;
		#display:inline;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		width:149px;
		height:23px;
		#height:30px;
		background-image: url('/img/questGiver/btn.png');
		background-repeat: no-repeat;
		background-position: left top;
		text-align:center;
		padding-top:7px;
		font-size:14px;
		color:#dfdfdf;
	}
	
	.component.bugcraft .questGiver .questOptions .questFinalize:hover
	{
		color:#ffffff;
		background-position: left top;
	}
	
	.component.bugcraft .questGiver .questOptions .questProgress
	{
		margin-left:238px;
		display:inline-block;
		#display:inline;
		width:149px;
		height:23px;
		#height:30px;
		background-image: url('/img/questGiver/btn.png');
		background-repeat: no-repeat;
		background-position: left bottom;
		text-align:center;
		padding-top:7px;
		font-size:14px;
		color:#dfdfdf;
	}
	
	.component.bugcraft .questGiver .windowTitle
	{
		margin-top:67px;
		display:inline-block;
		#display:inline;
		font-family:OldEnglishText;
		font-size:20px;
		width:320px;
		text-align:center;
		margin-left:150px;
		color:#5f4221;
		text-shadow:#E5BF7D 1px 1px 1px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	