
	/*
		Bags CSS Screen Template
	*/
	
	.component.bugcraft .pageBags
	{
		position:absolute;
		right:15px;
		bottom:15px;
		background-image:url('/img/bags/background.png');
		background-repeat:no-repeat;
		background-position:top left;
		width:280px;
		height:500px;
	}
	
	.component.bugcraft .pageBags .closeButton
	{
		background-image:url('/img/bags/close.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:16px;
		height:16px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;;
		#cursor:hand;
		margin-left:240px;
		margin-top:20px;
	}
	
	.component.bugcraft .pageBags .closeButton:hover
	{
		background-position:left bottom;
	}
	
	.component.bugcraft .pageBags .inventoryContainer
	{
		margin-top:10px;
		text-align:center;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_disabled
	{
		background-image:url('/img/bags/buffLarge_forbidden.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:52px;
		height:50px;
		display:inline-block;
		#display:inline;
		vertical-align:top;
		margin:3px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_disabled:hover
	{
		
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_disabled .slotItemAmount
	{
		background-image:url('/img/bags/itemsAmount.png');
		background-repeat:no-repeat;
		background-position:top left;
		width:16px;
		height:16px;
		color:#ffffff;
		text-align:center;
		position:absolute;
		margin-top:-18px;
		margin-left:36px;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_disabled .invisible
	{
		visibility:hidden;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_empty
	{
		/*background-image:url('/img/bags/buffLarge_empty3.png');*/
		background-image:url('/img/bags/buffLarge.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:52px;
		height:50px;
		display:inline-block;
		#display:inline;
		vertical-align:top;
		margin:3px;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_empty:hover
	{
		/*background-image:url('/img/bags/buffLarge_empty3_hover.png');*/
		background-image:url('/img/bags/buffLarge_hover.png');
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_full
	{
		background-image:url('/img/bags/buffLarge_hover.png');
		background-repeat:no-repeat;
		background-position:left top;
		width:52px;
		height:50px;
		display:inline-block;
		#display:inline;
		vertical-align:top;
		margin:3px;
		cursor:url('/img/cursors/bughandcursor.png'), auto;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_full .invisible
	{
		visibility:hidden;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_full .slotItemAmount
	{
		background-image:url('/img/bags/itemsAmount.png');
		background-repeat:no-repeat;
		background-position:top left;
		width:16px;
		height:16px;
		color:#ffffff;
		text-align:center;
		position:absolute;
		margin-top:-18px;
		margin-left:36px;
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_full:hover
	{
		background-image:url('/img/bags/buffLarge_hover.png');
	}
	
	.component.bugcraft .pageBags .inventoryContainer .slot_full img
	{
		margin:1px;
	}
	
	.component.bugcraft .pageBags .bagsPlayerCurrency
	{
		display:inline-block;
		#display:inline;
		text-align:right;
		font-size:14px;
		margin-top:10px;
		width:230px;
	}
	
	.component.bugcraft .pageBags .bagsPlayerCurrency .polenCrude
	{
		background-image:url('/img/bags/polen_crude.png');
		background-repeat:no-repeat;
		background-position:top right;
		padding-right:21px;
		padding-top:1px;
		height:17px;
		#height:20px;
		display:inline-block;
		margin-left:5px;
		text-shadow:#E5BF7D 1px 1px 1px;
	}
	
	.component.bugcraft .pageBags .bagsPlayerCurrency .polenRegular
	{
		background-image:url('/img/bags/polen_regular.png');
		background-repeat:no-repeat;
		background-position:top right;
		padding-right:21px;
		padding-top:1px;
		height:19px;
		#height:20px;
		display:inline-block;
		margin-left:5px;
		text-shadow:#E5BF7D 1px 1px 1px;
	}
	
	.component.bugcraft .pageBags .bagsPlayerCurrency .polenRefined
	{
		background-image:url('/img/bags/polen_refined.png');
		background-repeat:no-repeat;
		background-position:top right;
		padding-right:21px;
		padding-top:1px;
		height:19px;
		#height:20px;
		display:inline-block;
		margin-left:5px;
		text-shadow:#E5BF7D 1px 1px 1px;
	}
	
	.component.bugcraft .pageBags .bagsPlayerCurrency .amber
	{
		background-image:url('/img/bags/amber2.png');
		background-repeat:no-repeat;
		background-position:top right;
		padding-right:21px;
		padding-top:1px;
		height:19px;
		#height:20px;
		display:inline-block;
		margin-left:5px;
		margin-right:10px;
		text-shadow:#E5BF7D 1px 1px 1px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	